<!DOCTYPE html>
<html lang="en">

<head>
    <title>Tasks 3 and 4</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <header id="header">
        <div v-if="loggedIn" class="col-md-4 pull-right">
            {{profile.email}}
            <img v-bind:src="profile.photo" />
        </div>
        <h3>NAVOMI Pre-Interview Questionnaire</h3>
        <h4>Tasks 3 and 4</h4>
        <a href='/auth/google' v-if="!loggedIn" id="signinButton" class="btn btn-primary pull-right">Login</a>
        <a href='/logout' v-if="loggedIn" id="signinButton" class="btn btn-primary pull-right">Logout</a>
    </header>

    <hr>

    <div id="app">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">

                    <form @submit.prevent @keyup.enter.prevent="parseNL(sentence)">
                        <span v-if="!loggedIn">Please login</span>
                        <div class="input-group">
                            <input :disabled="!loggedIn" v-model="sentence" type="text" class="form-control" placeholder="Type a sentence here!">
                            <span class="input-group-btn">
                                <button @click="parseNL(sentence)" class="btn btn-primary" :disabled="!loggedIn" type="button">Submit</button>
                            </span>
                        </div>
                    </form>

                    <hr>

                    <ul>
                        <p v-for="chat in history">
                            <span v-if="chat.user"><i>{{chat.user}}</i></span>
                            <span v-if="chat.bot">{{chat.bot}}</span>
                        </p>
                    </ul>

                </div>

                <hr class="col-sm-1" id="vert">

                <div class="col-md-4">
                    <p>Score: {{score}}</p>
                    <p>Sentiment: {{sentiment}}</p>
                    <p>Entities: </p>
                    <ul>
                        <li v-for="entity in entities">
                            {{entity.type}}: <a target="_blank" v-bind:href="wikiLink(entity.name)">{{entity.name}}</a>
                        </li>
                        <img v-bind:src="entityPhoto" />
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <footer class="footer ftlg">
        <hr>
        <div class="row">
            <div class="col-lg-12">
                <a href="https://github.com/teachtyler" target="_blank"><i class="fa fa-2x fa-github"></i></a><a href="https://github.com/teachtyler"
                    target="_blank"> Tyler Roberts
            </a>
            </div>
        </div>
    </footer>


    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="/js/main.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>

</html>