body, html {
    width: 100%;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

header {
    margin-top: 5%;
}


@media (min-width: 1200px) {
    hr#vert{ 
        border: none;
        border-left: 1px solid hsla(200, 10%, 50%,100);
        height: 30vh;
        width: 1px;       
    }
}